<div class="navbar">
  <div class="navbar__title">
    Moviez.city
  </div>
</div>

<div class="container">
  <div class="sidebar">
    <ul class="nav-list">
      {{#link-to "movies" tagName="li" class="nav-list__item" href=false}}
        {{fa-icon icon="home"}}
        <span class="title">Home</span>
      {{/link-to}}
      {{#link-to "lists" tagName="li" class="nav-list__item" href=false}}
        {{fa-icon icon="list"}}
        <span class="title">Lists</span>
      {{/link-to}}
    </ul>

    <div class="nav-list__separator">
      {{fa-icon icon="th-large"}}
      <span class="title">Genres</span>
    </div>

    <ul class="nav-list padded">
      {{#each model as |category|}}
        {{#link-to "movies.category" category.name tagName="li" class="nav-list__item"}}
          {{ category.name }}
        {{/link-to}}
      {{/each}}
    </ul>
  </div>

  {{outlet}}
</div>