<div class="navbar">
  <div class="navbar__title">
    Moviez.city
  </div>
</div>

<div class="container">
  <div class="sidebar">
    <ul class="nav-list">
      <li class="nav-list__item">
        {{fa-icon icon="home"}}
        <span class="title">Home</span>
      </li>
      <li class="nav-list__item active">
        {{fa-icon icon="globe"}}
        <span class="title">Discover</span>
      </li>
      <li class="nav-list__item">
        {{fa-icon icon="list"}}
        <span class="title">Lists</span>
      </li>
      <li class="nav-list__item">
        {{fa-icon icon="bar-chart"}}
        <span class="title">Top 50</span>
      </li>
      <li class="nav-list__item">
        {{fa-icon icon="th-large"}}
        <span class="title">Genres</span>
      </li>
    </ul>
  </div>
  <div class="content">

  </div>
</div>