<div class="navbar">
  <div class="navbar__title">
    Moviez.city
  </div>
</div>

<div class="container">
  <div class="sidebar">
    <ul class="nav-list">
      <li class="nav-list__item">
        {{fa-icon icon="home"}}
        <span class="title">Home</span> {{! renders / }}
      </li>
      <li class="nav-list__item active">
        {{fa-icon icon="globe"}}
        <span class="title">Discover</span> {{! renders /discover }}
      </li>
      <li class="nav-list__item">
        {{fa-icon icon="list"}}
        <span class="title">Lists</span> {{! renders /lists }}
      </li>
      <li class="nav-list__item">
        {{fa-icon icon="bar-chart"}}
        <span class="title">Top 50</span> {{! renders /top50 }}
      </li>
      <li class="nav-list__item">
        {{fa-icon icon="th-large"}}
        <span class="title">Genres</span> {{! renders /genres/horror }}
      </li>
    </ul>
  </div>

  <div class="content">
    <h1>Discover</h1>

    <div class="movies-container">
      <a href="#" class="movies-container__item"> {{! renders /movie/ant-man }}
        <img src="http://image.tmdb.org/t/p/w342/7SGGUiTE6oc2fh9MjIk5M00dsQd.jpg" alt="#">
        <div class="title">Ant-Man</div>
        <div class="time">115 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/xw1GFKzxjgfm3dQoK1swFcHmfaC.jpg" alt="#">
        <div class="title">The Last Witch Hunter</div>
        <div class="time">106 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/vlTPQANjLYTebzFJM1G4KeON0cb.jpg" alt="#">
        <div class="title">Maze Runner: The Scorch Trials</div>
        <div class="time">132 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/z3nGs7UED9XlqUkgWeT4jQ80m1N.jpg" alt="#">
        <div class="title">Southpaw</div>
        <div class="time">123 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/A7HtCxFe7Ms8H7e7o2zawppbuDT.jpg" alt="#">
        <div class="title">Ted 2</div>
        <div class="time">115 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/4VmZeT8YkuMI6BrA623mHZDISlN.jpg" alt="#">
        <div class="title">Hitman: Agent 47</div>
        <div class="time">96 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/t3ELL46AnqjS9djz1vEVh4MpKv0.jpg" alt="#">
        <div class="title">Everest</div>
        <div class="time">121 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/zFo4fir7PrS0oGiiwOQeOIUyRN.jpg" alt="#">
        <div class="title">Momentum</div>
        <div class="time">96 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/yIVnNriiyl522hk3LFLJrrMovhP.jpg" alt="#">
        <div class="title">Black Mass</div>
        <div class="time">122 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/z2sJd1OvAGZLxgjBdSnQoLCfn3M.jpg" alt="#">
        <div class="title">Mission: Impossible – Rogue Nation</div>
        <div class="time">131 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/q0R4crx2SehcEEQEkYObktdeFy.jpg" alt="#">
        <div class="title">Minions</div>
        <div class="time">91 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/69Cz9VNQZy39fUE2g0Ggth6SBTM.jpg" alt="#">
        <div class="title">Tomorrowland</div>
        <div class="time">130 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/pCj8zem1NDAODdtvha9WFEB6iWR.jpg" alt="#">
        <div class="title">Crimson Peak</div>
        <div class="time">119 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/xw1GFKzxjgfm3dQoK1swFcHmfaC.jpg" alt="#">
        <div class="title">The Last Witch Hunter</div>
        <div class="time">106 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/5JU9ytZJyR3zmClGmVm9q4Geqbd.jpg" alt="#">
        <div class="title">Terminator Genisys</div>
        <div class="time">125 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/jjBgi2r5cRt36xF6iNUEhzscEcb.jpg" alt="#">
        <div class="title">Jurassic World</div>
        <div class="time">124 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/bAGe0LQASSGTOzdn1rK1RcFbxof.jpg" alt="#">
        <div class="title">Spooks!</div>
        <div class="time">16 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/2iaerqaKRw1xAUzqIJRF96hZw2u.jpg" alt="#">
        <div class="title">The Condemned 2: Desert Prey</div>
        <div class="time">90 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/g23cs30dCMiG4ldaoVNP1ucjs6.jpg" alt="#">
        <div class="title">Fantastic Four</div>
        <div class="time">100 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/moKQnwi1Lz3BORPhpaxeNFLxHcm.jpg" alt="#">
        <div class="title">No Escape</div>
        <div class="time">103 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/kqjL17yufvn9OVLyXYpvtyrFfak.jpg" alt="#">
        <div class="title">Mad Max: Fury Road</div>
        <div class="time">120 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/2USk7mhiCXRkU9NzttXCzOjg2iV.jpg" alt="#">
        <div class="title">Trainwreck</div>
        <div class="time">125 min</div>
      </a>
      <a href="#" class="movies-container__item">
        <img src="http://image.tmdb.org/t/p/w342/7YdmP4khQmVZ1vpEiPXnp0S7CyV.jpg" alt="#">
        <div class="title">The Assassin</div>
        <div class="time">78 min</div>
      </a>
    </div>
  </div>
</div>