<div class="navbar">
  <div class="navbar__title">
    Moviez.city
  </div>
</div>

<div class="container">
  <div class="sidebar">
    <ul class="nav-list">
      {{#link-to "movies.index" tagName="li" class="nav-list__item" href=false}}
        {{fa-icon icon="home"}}
        <span class="title">Home</span>
      {{/link-to}}
      {{#link-to "lists" tagName="li" class="nav-list__item" href=false}}
        {{fa-icon icon="list"}}
        <span class="title">Lists</span>
      {{/link-to}}
      {{#link-to "top50" tagName="li" class="nav-list__item" href=false}}
        {{fa-icon icon="bar-chart"}}
        <span class="title">Top 50</span>
      {{/link-to}}
      {{!-- <li class="nav-list__item">
        {{fa-icon icon="th-large"}}
        <span class="title">Genres</span> {{! renders /genres/horror }}
      </li> --}}
    </ul>
  </div>

  <div class="content">
    {{outlet}}
  </div>
</div>